{% extends "layout.html" %}

{% block content %}

<a href="{{ url_for('quanlynguyenlieuphugia.add_nguyenlieu') }}" class="btn btn-primary mb-3">Thêm Nguyên Liệu</a>
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Danh sách nguyên liệu</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
        <tr>
            <th>ID</th>
            <th>Tên Nguyên Liệu</th>
            <th>Hành Động</th>
        </tr>
    </thead>
    <tbody>
        {% for item in nguyenlieu %}
        <tr>
            <td>{{ item.id }}</td>
            <td>{{ item.TenNguyenLieu }}</td>
            <td>
                <a href="{{ url_for('quanlynguyenlieuphugia.delete_nguyenlieu', id=item.id) }}" class="btn btn-danger">Xóa</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
