{% extends "layout.html" %}

{% block content %}
<div class="container">
    <h2>Thêm Phụ Gia</h2>
    <form method="POST" action="{{ url_for('phugiagiavi.add_phugiagiavi') }}">
        <div class="form-group">
            <label for="TenPhuGia">Tên Phụ Gia:</label>
            <input type="text" class="form-control" name="TenPhuGia" required>
        </div>
        <div class="form-group">
            <label for="MoTa">Mô Tả:</label>
            <input type="text" class="form-control" name="MoTa">
        </div>
        <div class="form-group">
            <label for="DonViTinh">Đơn Vị Tính:</label>
            <input type="text" class="form-control" name="DonViTinh" required>
        </div>
        <div class="form-group">
            <label for="SoLuongTonKho">Nhập số lượng:</label>
            <input type="number" class="form-control" name="SoLuongTonKho" required>
        </div>
        <div class="form-group">
            <label for="NgayNhap">Ngày Nhập:</label>
            <input type="date" class="form-control" name="NgayNhap">
        </div>
        <div class="form-group">
            <label for="NgayHetHan">Ngày Hết Hạn:</label>
            <input type="date" class="form-control" name="NgayHetHan">
        </div>


        <button type="submit" class="btn btn-primary">Thêm Phụ Gia</button>
    </form>
    <button class="btn btn-secondary mt-3" onclick="goBack()">Trở về</button>

</div>

<script>
    function goBack() {
        window.history.back();
    }
    </script>
{% endblock %}
